html {
    width:100vw;
    height:100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    height: 100%;
    margin:0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(232, 171, 110);
}

div {
    display:flex;
    flex-direction: column;
}

footer {
    height:max(8%, 40px);
    background-color: rgb(239, 150, 61);
    color:whitesmoke;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: max(5vh, 24px);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top:max(2%, 24px);
}

.calccontainer{
    justify-content: center;
    flex-direction: row;
}

.calculator {
    margin-top:max(1%, 24px);
    width: max(300px,calc(60vh*2/3));
    height:max(450px, 60vh);
    aspect-ratio: 2/3;
    background-color: blue;
    padding: max(16px, 1vh);
    border-radius: max(16px, 2vh);
}

.screen {
    background-color: yellowgreen;
    height:10%;
    margin:5% 3%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:max(4px, 1%) max(0.4em, 2%);
}
.screen .indic {
    height: 100%;
    justify-content: space-around;
    border:0;
    text-align: center;
}
.screen .indic *{
    color:rgb(80, 172, 73);
    width: min-content;
    font-family: Digital-7;
    font-size: max(16px, 1.75vh);
    font-weight: bolder;
    border: 0;
}
.screen .output {
    color: rgb(62, 80, 27);
    font-family: Digital-7;
    font-size: max(42px, 4vh);
    font-weight: bold;
    border: 0;
}

.lower {
    height:90%;
    justify-content: flex-end;
    flex-direction: column;
    font-family: Sono-SemiBold;
}
.lower .solarpanel {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: rgb(35, 52, 0);
    width:50%;
    height:8%;
    border-radius: max(6px, 0.75vh);
    margin-left: 3%;
}
.solarpanel .bar {
    border-color:rgb(25, 30, 0);
}
.buttons {
    height: 90%;
    flex-direction: row;
    justify-content: space-between;
}
.buttonsleft {
    justify-content: center;
    width:65%;
    flex-flow: row wrap;
    font-size: max(16px,2vh);
}
.buttonsleft * {
    padding: 0.3em;
}
.buttonsright{
    width:20%;
    font-size: max(28px, 3.5vh);
}
.buttonsright *{
    padding-left: 0.2em;
}
.redbutton{
    color:white;
    width:25%;
    background-color: red;
    flex:auto;
}
.whitebutton {
    width:25%;
    background-color: white;
    flex:auto;
}
.buttonsright .redbutton {
    width:85%;
}
#equals{
    min-height:32.5%;
}

.calculator * {
    min-height: 0;
    min-width: 0;
    border: max(3px, 0.3vh) solid blue;
    border-radius: max(8px, 1vh);
    user-select: none;
}

.redbutton:hover{
    background-color: rgb(170, 0, 0);
}

.whitebutton:hover{
    background-color: rgb(170, 170, 170);
}

.redbutton, .whitebutton{
    touch-action: manipulation;
}

@font-face {
    font-family: Digital-7;
    src: url("digital-7.mono.ttf");
}
@font-face {
    font-family: Sono-SemiBold;
    src: url("Sono-SemiBold.ttf");
}